# ========================
# Maven
# ========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# ========================
# Java
# ========================
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# ========================
# IDEs
# ========================

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.eclipse/
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# NetBeans
nbproject/
nb-configuration.xml

# ========================
# OS
# ========================

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# ========================
# Minecraft
# ========================
run/
test-server/
*.log
plugins/
world/
world_nether/
world_the_end/
crash-reports/
